[Unit]
Description=Webui service for ballsOS
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/ballsOS/web-ui/
ExecStart=/root/.bun/bin/bun start

[Install]
WantedBy=multi-user.target
